:root {
  --text: #404040;
  --alt-text: #ffffff;

  --action: #677db7;
  --action-glow: #677db755;

  --alt: #f2849e;

  --border: #00000055;

  --background: #ffffff;
  --footer: #fffaf5;

  --shadow: #00000010;
}
